<!-- templates/email_confirmation.html -->

{% extends '_base.html' %}
{% load i18n %} 
{% load account %} 

{% block head_title %} Confirm Account {% endblock %}

{% block content %} 
<section class="hero is-danger is-small">
	<div class="hero-body">
		<p class="title has-text-centered">
			{% trans "Something Catchy and Eye Popping" %}   
		</p>
	</div>
</section>
{% if confirmation %} 
<div class="columns is-centered mt-6">
    <div class="column is-4">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    {% trans "Please confirm your account below." %}  
                </p>
            </header>
            <div class="card-content">
                <div class="content">
                    {% user_display confirmation.email_address.user as user_display %} 
                    <p>
                        {% blocktrans with confirmation.email_address.email as email %} Please confirm that
                        <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
            <footer class="card-footer">
                <form method="post" action="{% url 'account_confirm_email' confirmation.key %}" class="card-footer-item">{% csrf_token %}
                    {{ form.as_p }}
                        <button class="button is-danger is-outlined is-small is-fullwidth" type="submit">
                            <span>Confirm</span>
                            <span class="icon is-small">
                              <i class="fas fa-times"></i>
                            </span>
                        </button>
                </form>
            </footer>
        </div>

{% else %} 
<div class="columns is-centered mt-6">
    <div class="column is-4">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    {% trans "Confirm E-mail Address" %}  
                </p>
            </header>
            <div class="card-content">
                <div class="content">
                   {% url 'account_email' as email_url %} 
                   <p>
                       {% blocktrans %} This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>. 
                       {% endblocktrans %} 
                   </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %} 
{% endblock content %} 

