{% extends '_base.html' %}
{% load account %} 
{% load i18n %} 
{% block head_title %} {% trans "Password Reset" %} {% endblock %}
{% block content %} 
<section class="hero is-small is-warning">
	<div class="hero-body">
		<p class="title has-text-centered">
			Something Catchy and Eye Grabbing 
		</p>
	</div>
</section>
{% if user.is_authenticated %}
<div class="container mt-6">
	<div class="columns is-centered">
		<div class="column is-5">
			<article class="message is-info">
                <div class="message-header">
                  <p>{% trans "Password Reset" %}</p>
                  <button class="delete" aria-label="delete"></button>
                </div>
                <div class="message-body">
                    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
                </div>
              </article>
		</div>
	</div>
</div>
{% else %} 

{% endif %} 

{% endblock content %}