{% extends '_base.html' %}
{% load i18n %} 
{% block title %} Change Password {% endblock %}
{% block content %} 
<section class="hero is-small is-danger">
	<div class="hero-body">
		<p class="title has-text-centered">
			Something Catchy and Eye Grabbing 
		</p>
	</div>
</section>
<div class="columns is-centered mt-6">
    <div class="column is-4">
        {% if user.is_authenticated %}
        <form class="box password_change" method="post" action="{% url 'account_change_password' %}">{% csrf_token %}
            <p class="title is-3 has-text-centered">
                Change Password
            </p>
            <div class="field">
                <label class="label">
                    Current Password
                </label>
                <div class="control">
                    {{ form.oldpassword}}
                </div>
            </div>
            <div class="field">
                <label class="label">
                    New Password 
                </label>
                <div class="control">
                    {{ form.password1 }}
                </div>
            </div>
            <div class="field">
                <label class="label">
                    New Password (again)
                </label>
                <div class="control">
                    {{ form.password2 }}
                </div>
            </div>
            <div class="buttons">
                <button class="button is-primary pr-2" type="submit">{% trans "Change Password" %}</button>
                <a class="button is-danger px-2" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </div>
        </form>

        {% else %} 

        <article class="message is-info">
            <div class="message-header">
              <p>{% trans "You are not logged in" %}</p>
              <button class="delete" aria-label="delete"></button>
            </div>
            <div class="message-body">
                <p>
                    {% blocktrans %}You must be logged in to change your password.{% endblocktrans %}
                </p>
            </div>
        </article>
        {% endif %} 
    </div>
</div>


{% endblock content %}