{% extends "_base.html" %}
{% load i18n %}
{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<section class="hero is-small is-warning">
	<div class="hero-body">
		<p class="title has-text-centered">
			Something Catchy and Eye Grabbing 
		</p>
	</div>
</section>
<div class="columns is-centered mt-6">
    <div class="column is-4">
        <div class="container">
            <h1 class="title is-3 has-text-centered has-text-danger">
                {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}
            </h1>
            {% if token_fail %} 
            <article class="message is-info">
                <div class="message-header">
                  <p>{% trans "Password Reset Invalid" %}</p>
                  <button class="delete" aria-label="delete"></button>
                </div>
                <div class="message-body">
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p>
                        {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  
                        Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
                    </p>
                </div>
              </article>

            {% else %}
            <form class="box" method="post" action="{{ action_url }}">{% csrf_token %}
                <div class="field">
                    <label class="label">
                        New Password 
                    </label>
                    <div class="control">
                        {{ form.password1 }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">
                        New Password (again)
                    </label>
                    <div class="control">
                        {{ form.password2 }}
                    </div>
                </div>
                <button type="submit">{% trans "Reset Password" %}</button>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}