<!-- templates/registration/signup.html --> 
{% extends '_base.html' %}

{% block title %} Sign Up {% endblock title %}

{% block content %}
<section class="hero is-small is-warning">
	<div class="hero-body">
		<p class="title has-text-centered">
			Something Catchy and Eye Grabbing 
		</p>
	</div>
</section>
<div class="container mt-6">
	<div class="columns is-centered">
		<div class="column is-4">
			<form class="box" method="post">{% csrf_token %}
				<h1 class="title is-3">
					Sign Up 
				</h1>
				<div class="field">
					<label class="label">
						Email Address
					</label>
					<div class="control">
						{{ form.email }}
					</div>
				</div>
				<!--<div class="field">
					<label class="label">
						Username
					</label>
					<div class="control">
						{{ form.username }}
					</div>
				</div> -->
				<div class="field">
					<label class="label">
						Password
					</label>
					<div class="control">
						{{ form.password1 }}
					</div>
				</div>
				<div class="field">
					<label class="label">
						Password Confirmation
					</label>
					<div class="control">
						{{ form.password2 }}
					</div>
				</div>
				<button type="submit">Sign Up</button>
			</form>
		</div>
	</div>
</div>
{% endblock content %} 
