<!-- templates/about.html -->
{% extends '_base.html' %}

{% block title %} About {% endblock title %} 

{% block content %}
<section class="hero is-danger is-small">
	<div class="hero-body">
		<p class="title has-text-centered">
			Something Catchy and Eye Grabbing 
		</p>
	</div>
</section>
<div class="container">
    <div class="section">
        <div class="content">
            <h1 class="title is-3 has-text-centered">
                About Page
            </h1>
        </div>
    </div>
</div>
{% endblock content %}